.card{
   background-color: cyan;
   padding-top: 50px;
   padding-bottom: 50px;
   padding-left: 50px;
   padding-right: 30px;
   padding-left: 30px;
}

.card:hover {
  -webkit-transform: rotate(360deg);
      transition: all 0.3s ease-in-out 0s;
}


